<!DOCTYPE html>
<html>
<head>
    <title>HimPeakPest</title>

    <!-- IMPORTANT for mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="header">
    <div class="logo">
        HimPeakPest
    </div>

    <nav class="nav">
        <a href="/">Home</a>
        <a href="/category/fungicides">Fungicides</a>
        <a href="/category/fertilizers">Fertilizers</a>
        <a href="/category/insecticides">Insecticides</a>
        <a href="/category/herbicides">Herbicides</a>
        <a href="/category/seeds">Seeds</a>
        <a href="/category/nursery">Nursery</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<div class="content">
    {% block content %}{% endblock %}
</div>

</body>
</html>
